@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
body {
    background-image: url("https://static.pexels.com/photos/227433/pexels-photo-227433.jpeg");
    background-size: cover;
    text-align: center;
}
.variables li {
    list-style-type: none;
    color: #fff;
    font-family: 'Archivo Black', sans-serif;
    margin: 10px;
    font-size: 20px;
}
body h1 {
    font-family: 'Russo One', sans-serif;
    color: #fff;
    font-size: 60px;
}
body h2 {
    font-family: 'Russo One', sans-serif;
    color: #fff;
    font-size: 30px;
}
.both {
    text-align: center;
}
[class*="col-"] {
    min-height: 1px;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}